<div>
  <div class="home-content">
    <h1>Kahlougaroo</h1>
    <h2>En temps réel !</h2>
    <div class="pin-form" *ngIf="!menuOpen">
      <div class="inline-block">
        <mat-form-field class="full-width">
          <input matInput (ngModel)="pinVillage" placeholder="PIN village">
        </mat-form-field>
        <mat-icon matTooltip="Créer un village" (click)="clickMenu()" class="add-icon">add</mat-icon>
      </div>
      <button mat-button (click)="joinVillage()">Rejoindre le village</button>
    </div>
    <div class="pin-form" *ngIf="menuOpen">
      <div class="inline-block">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nom du village">
        </mat-form-field>
        <mat-icon matTooltip="Retour" (click)="clickMenu()" class="back-icon">clear</mat-icon>
      </div>
      <button mat-button (click)="createVillage()">Créer le village</button>
    </div>
  </div>
</div>


